
<br><br><br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="admin-children-list">children-list</a>
    <a class="navbar-brand" href="admin-child-add">add-child</a>

    <a class="navbar-brand" href="admin-user-list">user-list</a>
    <a class="navbar-brand" href="admin-visit-list">visits-list</a>
    <a class="navbar-brand" href="admin-adoption-list">adoption-details</a>
    <a class="navbar-brand" href="admin-adoption-register">adoption-register</a>
    <a class="navbar-brand" href="admin-donation-list">donation-details</a>
   
    <ul class="nav navbar-nav nav navbar-right">
       
       <button type="button" class="btn btn-danger" (click)="SignOut()">logout</button>
       
       </ul>
  </nav>
<div>
<br><br><br>
    
    
        <h1>welcome to admin page</h1>
        <!-- <li><a routerLink="/home">sign out</a></li>   -->
</div>

