<br><br><br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="user-children-list">children-list</a>
    <!-- <a class="navbar-brand" href="user-update-details">update-details</a> -->
    <a class="navbar-brand" href="user-visit-register">schedule-a-visit</a>
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <a class="navbar-brand" href="#">Navbar</a> -->
   
    <ul class="nav navbar-nav nav navbar-right">
       
       <button type="button" class="btn btn-danger" (click)="SignOut()">logout</button>
       
       </ul>
  </nav>


<div>


    <h1>welcome to user page</h1>
    <!-- <br>
    <h4 style="text-align: center;">Hi,<div class="zoom">{{users.uName}}</div> WELCOME</h4>
    <br> -->
    <!-- <li><a routerLink="/home">sign out</a></li> -->
</div>

<div>


</div>


